<h1 class="jumbotron" align="center">
  Edit File
</h1>
<div class="container">
  <%= form_for :document,  :url => { :action => "update" }, :html => { :method => :patch} do |f| %>
    <% if @document.errors.any? %>
      <% @document.errors.full_messages.each do |m| %>
        <div class="alert alert-danger">
          <%= m %>
        </div>
      <% end %>
    <% end %>
    <h3>
      <%= f.label :title %><br />
    </h3>
    <h4>
      <%= f.text_field :title, class: "form-control" %>
    </h4>
    <h4>
      <%= f.label :body %><br />
    </h4>
    <p>
      <%= f.text_area :body, class: 'form-control' %>
    </p>
    <p>
      <%= f.submit class: 'btn btn-success' %>
    </p>

  <% end %>
</div>
