<div class="container">
  <h1>
    Add File
  </h1>
  <%= form_for :document, path: "editor" do |f| %>
    <% if @document.errors.any? %>
      <% @document.errors.full_messages.each do |m| %>
        <div class="alert alert-danger">
          <%= m %>
        </div>
      <% end %>
    <% end %>
    <h3>
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </h3>

    <h4>
      <%= f.label :body %><br />
      <%= f.text_field :body %>
    </h4>
    <p>
      <%= f.submit %>
    </p>

  <% end %>
</div>
