<div class="header" align="center">
  <h2 class="bg-danger pt-2 pb-2">Add File</h2>
</div>
<div class="container">
  <%= form_for :document, path: "editor" do |f| %>
    <% if @document.errors.any? %>
      <% @document.errors.full_messages.each do |m| %>
        <div class="alert alert-danger">
          <%= m %>
        </div>
      <% end %>
    <% end %>
    <h3 class="text-muted">
      <%= f.label :title %><br />
    </h3>
    <h4>
      <%= f.text_field :title, class: "form-control" %>
    </h4>
    <h4 class="text-muted">
      <%= f.label :body %><br />
      <select class="form-control" onchange="ChangeHighlighting()" id="highlight">
        <option value="htmlmixed">Select Language...</option>
        <option value="htmlmixed">
          html
        </option>
        <option value="text/javascript">
          javascript
        </option>
        <option value="text/x-haml">
          haml
        </option>
        <option value="text/x-ruby">
          Ruby
        </option>
        <option value="text/xml">
          xml
        </option>
      </select>
    </h4>
    <p>
      <%= f.text_area :body, class: 'form-control', rows: '10' %>
    </p>
    <p>
      <input type="file" name="file" id="file" onchange="openFile(event)" class="btn btn-secondary">
      <br /><br>
      <%= f.submit class: 'btn btn-success' %>
      <input type="button"  onclick="ChangeHighlighting()" value="Test">
    </p>
    <% end %>
</div>
